<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calculator.calculator">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon12"
        android:label="Advance Calculator"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calculator">
        <activity
            android:name=".triangle"
            android:exported="false" />
        <activity
            android:name=".circle"
            android:exported="false" />
        <activity
            android:name=".rectangle"
            android:exported="false" />
        <activity
            android:name=".square"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".temprature"
            android:exported="false" />
        <activity
            android:name=".length"
            android:exported="false" />
        <activity
            android:name=".weight"
            android:exported="false" />
        <activity
            android:name=".currency"
            android:exported="false" />
        <activity
            android:name=".area"
            android:exported="false" />
        <activity
            android:name=".factorial"
            android:exported="false" />
        <activity
            android:name=".prime"
            android:exported="false" />
        <activity
            android:name=".root"
            android:exported="false" />
        <activity
            android:name=".Converter"
            android:exported="false" />
        <activity
            android:name=".General"
            android:exported="false" />
        <activity
            android:name=".Advance"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>